body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #8e44ad, #48c6ef);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background: #f9eaff;
    border-radius: 15px;
    padding: 30px;
    width: 450px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="date"],
textarea {
    background: #f8a8c4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

textarea {
    height: 100px;
}

button {
    margin-top: 15px;
    background-color: #e33984;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #c42c6e;
}
